<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.errors.any? %>
        <%= @user.errors.count %>errors prohibited this user from being saved: <br>
        <ul>
    　     <% @user.errors.full_messages.each do |message| %>
           <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model:@user, local:true do |f| %>
        <div class="form-group">
          <p>Name</p>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%>
        </div>
        <div class="form-group">
          <p>Image</p>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>
        <div class="form-group">
        <p>Introduction</p>
        <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction"%>
        </div>
        <%= f.submit "Update User", class: 'btn btn-secondary'%>
      <% end %>
    </div>
  </div>
</div>